.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body {
  overflow: scroll;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.coffeeItems {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.card {
  border: 2px solid rgb(125, 121, 121);
}

.btn-info {
  width: 8rem;
}

.detailsContainer {
  display: flex;
  flex-wrap: wrap;
}

.searchGrid {
  display: flex;
  justify-content: end;
  padding-right: 4rem;
}

.searchField {
  display: flex;
  gap: 5px;
}
